@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.base-button {
		@apply font-raleway py-2 px-3 rounded-md;
	}

	/* Used for login and register page form cards */
	.form-card {
		@apply bg-white max-w-[50vh] w-full rounded-2xl drop-shadow-xl flex flex-col
	}

	/* Styles for the register and login page main containers */
	.reg-log-cont {
		@apply bg-primary w-full min-w-[250px] h-screen flex flex-col items-center
	}

}

							/* mq stands for media queries */

@layer utilities {
	.screen-height {
		height: calc(100vh - 5rem)
	}

	.form-card-mq {
		@apply p-8 sm:p-16
	}

	.reg-log-cont {
		@apply pt-10 px-5
	}
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
